@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
   
  }

  @font-face {
    font-family: 'Keania One', cursive;
   
  }



html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    background-color: #320A6B;
} 


/* header */

.header{
    font-family: 'Exo';
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 30px;
    border: 2px solid #05FA3B; /* fallback solid border */
    width: 1100px;
    padding: 0;
    background-color: #290250;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-box-shadow: 0 3px 10px -6px black;
       -moz-box-shadow: 0 3px 10px -6px black;
            box-shadow: 0 3px 10px -6px black;
    z-index: 2;
}


.drawer{
    display: none;
}

.links{
    display: flex;
    justify-content: space-between;
   
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
}

.link-name{
    font-family: 'Montserrat';
}

.link .link-name span{
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #320A6B;
    color: #B178F1;
    border: 1px solid #05FA3B;
    border-radius: 30px;
}

/* home */

#home{
    height: 100vh;
    background-image: url('../img/main-bg.png'), url('../img/bg1.png');
    background-repeat: no-repeat;
    background-position: right, center;
    padding-left: 100px;
    padding-right: 80px;
}

.home-container{
    width: 750px;
}

.home-title{
    padding-top: 170px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.home-sub-title{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}

.home-heading{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.home-date{
    font-size: 30px;
    font-weight: bold;
    background-color: #290250;
    border-bottom-right-radius: 20px;
    display: inline-block;
    padding: 10px;
    padding-left: 170px;
    padding-right: 170px;
    margin-top: 0;
    color: #fff;
    box-shadow: 10px 10px #993EFF;
}

.home-buttons{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.home-buttons a p{
    background-color: #290250;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border: 1px solid #FFCC00;
}

       

/* road */


#road{
    background-image: url('../img/line.png'), url('../img/bg1-main.png'),  url('../img/bg2.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-position:  center center, left 100px, center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


/* about us */


#about{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;

    background-image:  url('../img/bg3-main.png'), url('../img/bg3.png');
    background-size:auto, cover;
    background-repeat: no-repeat;
    background-position: right 280px, center center;
}

.about-top{
    display: flex;
    justify-content: space-between;
}

.about-bottom{
 
}

.about-para{
    font-size: 18px;
    color: #fff;
    padding-top: 30px;
}

.about-more-btn{
    background-color: #290250;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 8px;
}

/* our legacy */


#legacy{
    background-image: url('../img/bg4-main.png'), url('../img/bg4.png');
    background-repeat: no-repeat;
    background-size:auto, cover;
    background-position: left 100px, center;
    padding-left: 40px;
    padding-right: 40px;
   
}

.legacy-container{
    display: flex;
    
}

.legacy-sub-container{
    margin-top: 0;
    padding-bottom: 30px;
}

.legacy-title{
    width: 50%;
    height: 50%;
    padding-right: 30px;
    padding-top: 50px;
}

.legacy-para{
    font-size: 17px;
}

.hacktly-img{
    width: 60%;
}

.legacy-btn{
    width: 300px;
    margin-top: 10px;
}


/* theme */

#theme{
    background-image: url('../img/bg5.png');
    padding-bottom: 50px;
    
    
}

.theme-title{
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
}

.theme-container{
    display: flex;
    padding-left:30px;
    padding-right: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.themes{
    width: 200px;
    border: 3px solid #fff;
    border-top-right-radius: 200px;
    background-color: #20033D;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 80px;
    
}

.themes-number{
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    z-index: 2;
    margin-top: -50px;
    text-align: center;
    width: 100px;
    font-weight: bold;
    margin-left: 10;
    background-color: #20033D;
    color: #fff;
}

.theme-titles{
    margin-top: 40px;
    color: #fff;
    font-family: 'Keania One';
    font-size: 25px;
    padding-bottom: 0;
}

.theme-des{
    font-size: 15px;
    color: #fff;
    opacity: .8;
    padding-bottom: 50px;
}

.theme-link{
    color: #01DC82;
    font-weight: bold;
    font-size: 20px;
    
}



/* price */


#price{
    background-image: url('../img/b6-main.png'), url('../img/bg6.png');
    background-repeat: no-repeat;
    background-position: left center, center center;
    background-size: 200px, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.price-img{
    margin: auto;
    display: block;
}

.top{
    display: flex;
}

.other-price{
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.secndcrown{
margin: auto;
display: block;
}

.second{
    margin-left: 20px;
    margin-right: 20px;
}


/* partnter */

#partner{
    background-image: url('../img/b7-main.png'), url('../img/b7.png');
    background-position: right center, center center;
    background-repeat: no-repeat;   
    padding-left: 50px;
    padding-right: 50px;
}

.partimg{
    margin: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.partner-imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.partner-img{
    padding: 20px;
}